@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-brown: #513a2b;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Host Grotesk", sans-serif;
  @apply transition-colors text-white;
}

.page-content {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;

  &.-focus {
    @apply bg-red-600;
  }
  &.-short-break {
    @apply bg-green-500;
  }
  &.-long-break {
    @apply bg-violet-500;
  }
}

.brown-noise {
  appearance: none;
  width: 200px;
  height: 2px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  @apply bg-white/70;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    @apply ring-2 shadow-md;
  }
}

button {
  cursor: pointer;
}
